/* Size for brand */
nav .navbar-brand
{
    font-size: 40px;
}


footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 2.5rem; 
}



.left{
    text-align: start;
}

.right{
    text-align: end;
}

