{% extends "layout.html" %}

{% block title %}
Buy Stock
{% endblock %}

{% block main %}
    <form action="/sell" method="post">
        <div class="mb-3">
			<select class="form-select mx-auto w-auto"  name = "stock">
				<option disabled selected>Stock</option>
				{% for stock in portfolio %}
				<option>{{stock.symbol | upper  }}</option>

				{% endfor %}
			</select>
        </div>
		<div class="mb-3">
            <input autocomplete="off" autofocus class="form-control mx-auto w-auto" id="shares" name="shares" placeholder="Shares" type="number" step="0.1">
        </div>
        <button class="btn btn-primary" type="submit">Sell</button>
    </form>
{% endblock %}
